{% extends 'base.html' %}
{% block content %}

<div class="welcom">
    <h1>Welcom to M.Taha Mostafavi blog</h1>
  </div>
  <div class="leftcolumn">
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Aug 1, 2023</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eaque, reiciendis beatae, cumque perspiciatis maiores magnam architecto vero ipsum assumenda esse pariatur vel. Sint molestias harum aut fuga, nisi culpa.</p>
    </div>
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Jul 30, 2023</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatibus voluptatem ab at quasi porro dolor, sapiente iste accusantium eos omnis similique! Ipsum rerum quisquam qui eum nihil eius ullam?</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg"><p>Image</p></div><br>
      <div class="fakeimg"><p>Image</p></div><br>
      <div class="fakeimg"><p>Image</p></div><br>
    </div>
    <div class="card">
      <p>Some text..</p>
      <h3>Follow Me</h3>
    </div>
  </div>
</div>
{% endblock %}